
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Attendence Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="color: white !important;" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active mx-2" >
            <a class="nav-link active" aria-current="page" routerLink="/addEmployee">Add Employee</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="/viewAttendance">View Attendence</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="text-center m-5">Welcome to Manager Screen!<br> Select a Menu!</h1>